/* @font-face {
    font-family: "Bungee";
    src: url("https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/font/Bungee-Regular.ttf")
} */

@media (orientation: portrait) {
    body {
      display: none;
    }
}
* {
    cursore: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none
}
#gameOverSsvg{
    position: absolute;
    top: 17%;
    left: 34%;
    height: 76%;
    
}
html,
body {
    overflow-y: hidden
}
#btnGameinMenu:hover{
    font-size: 20px;
}
#btnGameinMenu
     {
        color: orange;
        background: none;
        border: none;
        position: absolute;
        top: 37px;
        left: 5px;
        font-family: Bungee, Arial, 'Times New Roman';
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
}

#IProgress {
    position: absolute;
    border: solid rgb(96, 52, 198)1px;
    width: 100%;
    height: 20px;
    z-index: 5;
    top: 5px
}

#IProgressPers {
    position: absolute;
    background-color: rgb(8, 19, 228);
    height: 20px;
    width: 0%;
    z-index: 2;
    top: 5px
}

#visualGameTime {
    position: absolute;
    top: 5%;
    left: 45%;
    height: auto;
    width: auto;
    font-family: "Bungee";
    font-style: normal;
    font-weight: 900;
    font-size: 430%;
    color: rgb(241, 176, 12);
    background: none;
    z-index: 1
}

#imgGaz {
    position: absolute;
    bottom: 4%;
    right: 2%;
    width: auto;
    z-index: 10;
    height: 18%;
    opacity: .56
}

#imgbr {
    position: absolute;
    bottom: 4%;
    width: auto;
    left: 2%;
    z-index: 1;
    height: 18%;
    opacity: .56
}

#visualGameTime {
    position: absolute;
    top: 5%;
    left: 45%;
    height: auto;
    width: auto;
    font-family: "Bungee";
    font-style: normal;
    font-weight: 900;
    font-size: 230%;
    color: rgb(241, 176, 12);
    background: none;
    z-index: 1
}