@font-face {
    font-family: 'Bungee';
    src: url("https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/font/Bungee-Regular.ttf");
}
 * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none;
-webkit-touch-callout: none;
-webkit-user-drag: none;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #91EBFF;
}

.contener {
    display: flex;
    align-items: center;
    justify-content: center;
     
        width: 776px;
        height: 602px;
      
        
        background: #9BF471;
        border-radius: 30px;
}



h2{
    position: absolute;
    top: 10%;
    font-family: 'Bungee', Arial, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 22px;
    text-align: center;}
form{

    position: relative;
   
    width: 500px;
    
}
label {
   
font-family: 'Bungee', Arial, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: 400;
font-size: 22px;

 

color: #000000;
}


#settingForward{
    position:absolute;

   left: 2%
}

#settingBack{
    position:absolute;
    left: 2%;
}
#settingBForward{
    position:absolute;
    left: 2%;
}
#settingBBack{
    position:absolute;
    left: 2%;
}
#Forward{
    position:absolute;
   right: 2%;
   right: 2%;
   width: 231px;
   height: 25px;

background: #FFFFFF;
border-radius: 20px;
}

#back{
    position:absolute;
    right: 2%;
    right: 2%;
    width: 231px;
    height: 25px;

background: #FFFFFF;
border-radius: 20px;
}
#B_Forward{
    position:absolute;
    right: 2%;
    right: 2%;
    width: 231px;
    height: 25px;

background: #FFFFFF;
border-radius: 20px;
}
#B_Back{
    position:absolute;
    right: 2%;
    right: 2%;
    width: 231px;
    height: 25px;

background: #FFFFFF;
border-radius: 20px;
}


#settingBtn{
    position: absolute;
    width: 200px;
height: 66px;
left: 37%;


background: #FF3541;
border-radius: 20px;
}




@media only screen and (max-height: 490px )
{
    .contener {
        display: flex;
        align-items: center;
        justify-content: center;
        
            height: 372px;
          
            
            background: #9BF471;
            border-radius: 30px;
    }
    form{

        position: relative;
       
        width: 100%;
        
    }
}
@media only screen and (max-width: 690px )
{
    .contener {
        top: 0px;
        left: 0%;
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: center; */
        width: 100%;
        height: 100%;
        background: #9BF471;
        border-radius: 2px;
        position: absolute;
    }
    }
    form{

        position: relative;
       
       
        
    }



    @media only screen and (max-width: 400px ){
label{
    font-family: 'Bungee', Arial, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    line-height: 75px;
}}
