<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/css/styleMain.css">
      <link rel="icon" type="image/png" sizes="32x32" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-16x16.png">
<link rel="manifest" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/site.webmanifest">
    <title>Hill Climb</title>
</head>
<body>
    <canvas id="canvas"></canvas>
    <script type="module" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/model/model_main/JS/main.js" defer></script>
    <script  type="module" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/Controller/Controller_main/controller_main.js" defer></script>
  
</body>
</html>
