<!DOCTYPE html>
<html lang="en-ru">
<head>
    <link rel="preload" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/forward.svg" />
    <link rel="preconnect" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/node_modules/jquery/dist/jquery.min.js">
    <link rel="preload" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/back.svg" />
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <meta http-equiv="Content-Security-Policy" content="script-src https://dj-rom.github.io">
    <meta http-equiv="Cache-control" max-age=604800  mstale-while-revalidate=86400>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <link rel="stylesheet" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/css/styleMain.css">
      <link rel="icon" type="image/png" sizes="32x32" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-16x16.png">

    <title>Hill Climb</title>
</head>
<body>

    <button id="btnGameinMenu">MENU</button>

    <script type="module" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/model/model_main/JS/main.js" defer></script>
    <script  type="module" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/Controller/Controller_main/controller_main.js"  defer></script>
    <script src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>
