<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_menu.css">
    <title>MENU</title>
</head>
<body>
    <h1>Welcome to Hill Climb</h1>
    <button id="menu_New_Game">New game</button>
    <button id="menu_Сontinue_Game">Сontinue game</button>
    <button id="menu_Setting">Setting</button>
    <button id="menu_World_Result">World result</button>
    <script src="../../model/model_menu/JS/script_menu.js"></script>
    <script src="/project Hill Climb/src/Controller/Controller_menu/controller.js"></script>
</body>
</html>