<!DOCTYPE html>
<html lang="en-ru">

<head>
 
  <meta http-equiv="Cache-control" max-age=604800  mstale-while-revalidate=86400>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/font/Bungee-Regular.ttf" as="font">
  <link rel="stylesheet"
    href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_menu/css/style_menu.css">
  <link rel="icon" type="image/png" sizes="32x32"
    href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/fav/favicon-16x16.png">
  

  <title>Hill Climb</title>
</head>

<body>

  <div class="contener">
    <img id="soundOn"
      src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_menu/png/no-sound.png" alt="off">
    <img id="soundOff" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_menu/png/sound.png"
      alt="on">
      <svg height="147" width="147">
        <circle cx="70" cy="70" r="70" stroke="#ecef54" stroke-width="0" fill="#ecef54" />
     </svg>
    <h1>Hill Climb</h1>

    <button href="/Hill_Climb/project%20Hill%20Climb/src/view/view_main/main_game_start.html" id="menu_New_Game">New
      game</button>
    <button href="/Hill_Climb/project%20Hill%20Climb/src/view/view_main/main_game_start.html"
      id="menu_Сontinue_Game">continue game</button>
    <button href="/Hill_Climb/project%20Hill%20Climb/src/view/view_result/result.html" id="menu_World_Result">World
      result</button>
    <button href="/Hill_Climb/project%20Hill%20Climb/src/view/view_setting/setting.html"
      id="menu_Setting">Setting</button>
    <div class="decor">
      <img id="cloud1" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/cloud.svg"
        alt="">
      <img id="cloud2"
        src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/cloud2.svg" alt="">
      <img id="cloud3" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/cloud.svg"
        alt="">
      <!-- <img id="bush" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/bush.svg"
        alt="">
      <img id="tree1" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/tree1.svg"
        alt=""> -->
      <img id="frame"
        src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/png/Frame45.png" alt="">
      <!-- <img id="bush2" src="https://dj-rom.github.io/Hill_Climb/project%20Hill%20Climb/src/view/view_main/svg/bush.svg"
        alt=""> -->

    </div>
  </div>
  <script src="https://dj-rom.github.io/Hill_Climb/project Hill Climb/src/model/model_menu/JS/script_menu.js"></script>
  <script src="https://dj-rom.github.io/Hill_Climb/project Hill Climb/src/Controller/Controller_menu/controller.js"></script>

</body>

</html>
